.speaker__name {
    font-family: 'Rubik', 'Yehuda', 'Gveret-levin', Arial;
    font-size: 24px;
    line-height: 28px;
    color: #92794F;
    width: fit-content;
    flex-wrap: initial;
    margin: 0;
    padding: 0;
}