.main {
    width: 100%;
    min-width: 300px;
    height: 90%;
    display: grid;
    grid-template-areas: "participents speaker"
                         "participents main"
                         "participents main";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 600px) {
    .main {
        grid-template-areas: "participents"
                             "speaker"
                             "main";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 4fr;
    }    
}