.free-writing-form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 90%;
}

#writingArea {
    background-color: transparent;
    width: 90%;
    margin: 32px auto 15px;
    padding: 0 70px 0 20px;
    border: 0;
    background-image: url('../../images/notebook-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Rubik' , 'Yehuda', 'Gveret-levin', Arial;
    font-size: 19px;
    line-height: 21px;
}

#writingArea:hover {
    box-shadow: 3px 3px 10px #666;
}

.save-button {
    width: 250px;
    height: 50px;
    margin: 15px 0;
    cursor: pointer;
    font-size: 20px;
    background-color: #DDCAB2;;
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    border: 0px solid #000;
    border-radius: 35px;
    box-shadow: 4px 4px 5px #555;
}

.save-button:hover {
    background-color: rgba(221, 202, 178, 1);
    box-shadow: 0px 0px 5px #555;
}