.free-writing-form {
    display: flex;
    flex-direction: column;
    background-image: url('https://img.freepik.com/premium-vector/notebook-paper-background-lined-notebook-paper_322958-1073.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#writingArea {
    background-color: transparent;
    width: 82%;
    margin: 32px auto 15px;
    border: 0;
}