.speaker__button {
    width: 250px;
    height: 50px;
    margin: 15px 0;
    cursor: pointer;
    font-size: 20px;
    background-color: rgba(194, 253, 255, 1);
    background-color: rgba(221, 255, 194, 1);
    background-image: url('../../../images/icons/talk.svg');
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    border: 0px solid #000;
    border-radius: 35px;
    box-shadow: 4px 4px 5px #555;
    overflow: hidden;
}

.speaker__button:hover {
    background-color: rgba(194, 253, 255, 0.7);
    background-color: rgba(221, 255, 194, 0.7);
    box-shadow: 0px 0px 5px #555;
}