.popup__form__input {
    width: 80%;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-bottom: 1px solid #000;
    font-size: 22px;
    line-height: 24px;
    font-family: 'Rubik', 'Yehuda', Arial;
}
.popup__form__input:focus {
    outline: 0;
}